<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">

    <listeners>
        <listener class-name="org.aleksdrinkov.testcomponents.Listeners"/>
    </listeners>

    <test thread-count="2" verbose="2" preserve-order="true" name="Error Validations Test">
        <classes>
            <class name="org.aleksdrinkov.tests.ErrorValidationsTest"/>
        </classes>
    </test>
    <test thread-count="2" name="Submit Order Test">
        <classes>
            <class name="org.aleksdrinkov.tests.StandAloneTestRefactored"/>
        </classes>
    </test>
</suite>